h1 {
  text-align: center;
  color: black;
  font-family: sans-serif;
  font-size: 5vh;
}

h2 {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.1vh;
}

h3 {
  text-align: center;
  color: black;
  font-family: sans-serif;
  font-size: 1vh;
}

form {
  text-align: center;
}

button {
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 20px;
}

.searchDiv {
  text-align: center;
  text-shadow: 20px;
}

.resize {
  width: 200px;
  height: auto;
  margin-top: 10px;
}

.img-div {
  text-align: center;
  padding: 1vh;
}

body {
  background: url(https://images.unsplash.com/photo-1558244661-d248897f7bc4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2775&q=80);
}

div.searchDiv {
  background-color: white;
  padding: 1vh;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}
